<div class="row">
  <div class="col-sm-12 custom-form">
    <h3 [innerHTML]="question.question | safeHtml"></h3>
    <ul class="list-unstyled rad-list">
        <li *ngFor="let n of names let i = index">
            <label for={{i}}>
              <input value="{{option}}"
              (ngModel)="n.selected" (change)="checkIfAllSelected(i);"
                type="checkbox" id={{i}}  name="">
              <span class="fake-input"></span>
              <span class="fake-label">{{n.answer}}</span>
            </label>
          </li>
    </ul>
  </div>
</div>