<div attr.id="{{'tab'+index}}" class="section" > 
<div class="row">
  <div class="col-sm-12 custom-form">
    <h3 [innerHTML]="content.name | safeHtml"></h3>
    <p><strong>{{question.question}}</strong></p>
    <ul class="list-unstyled rad-list">
        <li *ngFor="let n of names let i = index">
            <label [attr.for]="'m'+i">
              <input value="{{option}}"
              (ngModel)="n.selected" (change)="checkIfAllSelected(i);"
                type="checkbox" [attr.id]="'m'+i"  name="">
              <span class="fake-input"></span>
              <span class="fake-label">{{n.answer}}</span>
            </label>
          </li>
    </ul>
  </div>
</div>
</div>