body,
html {
	height: 100%;
}

body {
	margin: 0;
	min-width: $base-min-width;
}

a,
button {
	@include transition(all 0.25s linear);
	&:hover {
		@include transition(all 0.25s linear);
	}
}