#content{
	overflow: hidden;
	
	@include media('≥tablet') {
		font-size: 1rem;
		padding-right: 20px;
	}
	
	img{
		width: 100%;
	}
	
	.section{
		@include border-radius(0);
		overflow: hidden;
		padding: 10px 0;
		
		&.card{
			padding: 10px 5px;
			margin: 0 0 20px;
			box-shadow: none;
			
			.card{
				margin: 0 -6px;
			}
		}
		
		.card{
			@include border-radius(0);
		}
		
		h1{
			.badge{
				font-size: 50%;
				vertical-align: middle;
				font-family: $font-family-sans-serif;
			}
		}
	}
}