#content{
	overflow: hidden;
	
	@include media('≥tablet') {
		font-size: 1rem;
		padding-right: 20px;
	}
	@include media('≥desktop') {
		padding-right: 40px;
	}
	img{
		width: 100%;
	}
	
	.section{
		@include border-radius(0);
		overflow: hidden;
		padding: 10px 0;
		margin: 0 0 20px;
		
		.card{
			@include border-radius(0);
		}
		
		h1{
			.badge{
				font-size: 50%;
				vertical-align: middle;
				font-family: $font-family-sans-serif;
			}
		}
	}
}

.course-detail{
	margin-bottom: 20px;

	.btn-holder{
		overflow: hidden;
		padding: 10px;
		border-top: 1px solid rgba(black,.2);

		@include media('≥desktop') {padding: 15px 20px;}
	}
}