.dropdown,
.tags-holder{
	.dropdown-backdrop{display: none;}

	.dropdown-toggle{
		padding-right: 20px;
		padding-left: 5px;
		cursor: pointer;
		background: $gray-lightest2;
		
		&:after{display: none;}
		&:before{
			content: "\f107";
			font: 16px/1 FontAwesome;
			text-decoration: inherit;
			padding: 0;
			position: absolute;
			top: 50%;
			margin-top: -8px;
			right: 6px;
			cursor: pointer;
		}
		
		&:hover{
			color: $blue;
		}
	}
	
	&.show{
		.dropdown-toggle{
			color: $blue;
			
			&:before{
				cursor: pointer;
				content: "\f106";
			}
			
			.drop-icon{
				.fa{
					&:before{
						cursor: pointer;
						content: "\f106";
					}
				}
			}
		}
		.dropdown-menu{
			visibility: visible;
			opacity: 1;
			@include transition(transform .15s cubic-bezier(.3,0,0,1.5));
			@include scale(1);
		}
	}
	
	.drop-list{
		@extend %listreset;
		
		li{
			a{
				display: block;
				padding: 8px;
				border-left: 2px solid transparent;
				white-space: normal;
				color: $very-dark-grayish-blue;
				
				&:hover,
				&:active{
					background: $gray-lightest;
					color: $very-dark-grayish-blue;
					border-color: $dark-moderate-cyan;
				}
			}
			
			&.active{
				a{
					background: $gray-lightest;
					color: $very-dark-grayish-blue;
					border-color: $dark-moderate-cyan;
				}
			}
		}
	}
}

.card{
	.header{
		.dropdown{
			.dropdown-menu{
				left: auto !important;
				right: 0 !important;
			}
		}
	}
}

.dropdown-menu{
	display: block;
	left: auto;
	right: 0;
	visibility: hidden;
	opacity: 0;
	padding: 0;
	overflow: auto;
	text-transform: capitalize;
	background: $gray-lightest2;
	min-width: 200px;
	width: auto;
	max-height: 210px;
	border: 0;
	box-shadow: 1px 1px 5px rgba(black, 0.1);
	@include border-radius(0);
	@include transition(transform .15s cubic-bezier(.3,0,0,1.5));
	@include scale(0.8);
	
	&.tags{
		top: calc(100% - 20px);
		min-width: inherit;
		width: 120px;
		right: -32px;
		box-shadow: none;
		background: none;
		
		.drop-list{
			background: $very-dark-grayish-blue;
			
			li{
				a{
					display: block;
					padding: 8px;
					border-left-width: 0;
					white-space: normal;
					color: white;

					&:hover,
					&:active{
						background: $very-dark-grayish-blue;
						text-decoration: underline;
						color: white;
					}
				}

				&.active{
					a{
						background: $very-dark-grayish-blue;
						color: white;
					}
				}
			}
		}
		
	}
}

.select-block{
	.dropdown-menu{
		right: 30px;
		left: 0;
	}
}

.arrow {
	position: relative;
	width: 10px;
	height: 10px;
	display: block;
	margin: 0 auto;
	
	&:after {
		top: -10px;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba($very-dark-grayish-blue, 0);
		border-bottom-color: $very-dark-grayish-blue;
		border-width: 10px;
		margin-left: -10px;
	}
}