@import url(../css/MyFontsWebfontsKit.css);
.clearfix:after, .video-block:after {
  display: block;
  content: '';
  clear: both;
}

.dropdown .drop-list, .questions-list, .questions-list > li > ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

.dropdown .drop-list, .questions-list, .questions-list > li > ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.clearfix:after, .video-block:after {
  content: '';
  display: block;
  clear: both;
}

.ellipsis, .page-header .header-text h1, .page-header .header-text .description {
  white-space: nowrap;
  /* 1 */
  text-overflow: ellipsis;
  /* 2 */
  overflow: hidden;
}

body,
html {
  height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
}

a,
button {
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

a:hover,
button:hover {
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

#wrapper {
  overflow: hidden;
  width: 100%;
  min-height: 100%;
  position: relative;
}

#header {
  overflow: hidden;
  background: white;
  padding: 10px 0;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.logo {
  width: 80px;
  float: left;
}

#main {
  padding-top: 20px;
  position: relative;
}

@media (max-width: 575px) {
  #main h1,
  #main h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 575px) {
  #main h3,
  #main h4 {
    font-size: 1.25rem;
  }
}

@media (max-width: 575px) {
  #main h5 {
    font-size: 1rem;
  }
}

.page-header {
  overflow: hidden;
  margin: -20px 0 20px;
  background: #4e8db6;
  padding: 20px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  z-index: 999;
  color: white;
}

@media (max-width: 767px) {
  .page-header {
    position: static !important;
  }
}

.page-header.fixed-position {
  right: 0;
}

@media (min-width: 768px) {
  .page-header.fixed-position {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .page-header.fixed-position + .detail-container {
    padding-top: 0 !important;
  }
}

@media (min-width: 768px) {
  .page-header.fixed-position + .detail-container #content {
    padding-right: 220px;
  }
}

@media (min-width: 992px) {
  .page-header.fixed-position + .detail-container #content {
    padding-right: 240px;
  }
}

.page-header.fixed-position + .detail-container #sidebar {
  position: absolute;
  right: 15px;
}

.page-header .btn-back {
  white-space: normal;
  letter-spacing: 0;
  display: inline-block;
  vertical-align: top;
  font-family: "MuseoSans-700", sans-serif;
  margin: 0 10px 5px;
  color: white;
}

.page-header .btn-back:hover {
  color: #d7d7de;
}

.page-header .btn-back .fa {
  font-size: 1rem;
  vertical-align: text-bottom;
}

.page-header .img-holder {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  border: 1px solid white;
  display: block;
  margin: 0 auto 10px;
  width: 100px;
  background: white;
}

@media (min-width: 576px) {
  .page-header .img-holder {
    float: left;
    margin: 0 20px 0 0;
  }
}

.page-header .img-holder img {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  width: 100%;
}

.page-header .header-text {
  overflow: hidden;
}

.page-header .header-text .sub-head {
  display: block;
  color: white;
}

.page-header .header-text h1 {
  margin: 2px 0;
}

@media (min-width: 576px) {
  .page-header .header-text h1 {
    font-size: 1.8rem;
  }
}

.page-header .header-text .description {
  display: block;
}

.page-header .header-text .holder {
  overflow: hidden;
  margin: 0 0 5px;
}

.page-header .footer {
  overflow: hidden;
}

.page-header .footer .holder {
  margin: 0;
}

.page-header .footer time {
  display: block;
  padding: 0 0 5px;
  color: white;
  font-family: "MuseoSans-700", sans-serif;
}

.page-header .footer time span {
  font-family: "MuseoSans-300", sans-serif;
}

@media (min-width: 768px) {
  .page-header .footer time {
    float: left;
    padding: 6px 0;
  }
}

.page-header .footer .icons-list {
  float: left;
  margin: 0 5px 0 0;
}

@media (min-width: 768px) {
  .page-header .footer .icons-list {
    float: right;
    margin: 0 0 0 20px;
  }
}

.page-header .footer .icons-list li {
  padding-bottom: 3px;
}

.page-header .footer .icons-list li .btn {
  background: white;
}

.page-header .footer .tags-list {
  overflow: hidden;
}

@media (max-width: 767px) {
  .page-header .footer .tags-list {
    text-align: left;
  }
}

.page-header .footer .tags-list li {
  padding-bottom: 3px;
}

.page-header .footer .tags-list li .btn {
  background: white;
}

video,
audio {
  display: block;
  width: 100%;
  height: auto;
}

.full-auto {
  display: block;
  width: 100%;
  height: 500px;
  overflow: auto;
}

.courses-list {
  letter-spacing: -6px;
  margin: 0 -10px;
}

.courses-list > li {
  vertical-align: top;
  letter-spacing: 0;
  padding: 0 10px 20px;
  width: 100%;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

@media (min-width: 768px) {
  .courses-list > li {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .courses-list > li {
    width: 33.33%;
  }
}

.courses-list > li.list-inline-item:not(:last-child) {
  margin: 0;
}

.card {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.card .card-block {
  padding: 0.875rem;
}

.card .header {
  min-height: 85px;
  margin: 0 0 20px;
}

.card .header .img-holder {
  float: left;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 85px;
}

.card .header .img-holder img {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  width: 100%;
}

.card .header .header-info {
  float: right;
  padding: 5px 0;
}

.card .header .header-info time {
  display: block;
  margin: 0 0 5px;
  text-align: right;
  color: rgba(111, 111, 111, 0.75);
  font-family: "MuseoSans-700", sans-serif;
}

.card .article-detail {
  min-height: 120px;
  margin: 0 0 15px;
}

.card .article-detail .header-block {
  margin: 0 0 10px;
}

.card .article-detail .header-block .sub-head {
  display: block;
  color: rgba(111, 111, 111, 0.75);
}

.card .article-detail .header-block .card-title {
  margin: 5px 0;
}

.card .footer .icons-list {
  width: 80px;
  float: left;
}

.card .footer .tags-list {
  float: right;
  width: calc(100% - 80px);
}

.dropdown .dropdown-toggle {
  padding-right: 20px;
  padding-left: 5px;
  cursor: pointer;
  background: #f3f3f5;
}

.dropdown .dropdown-toggle:after {
  display: none;
}

.dropdown .dropdown-toggle:before {
  content: "\f107";
  font: 16px/1 FontAwesome;
  text-decoration: inherit;
  padding: 0;
  position: absolute;
  top: 50%;
  margin-top: -8px;
  right: 6px;
  cursor: pointer;
}

.dropdown .dropdown-toggle:hover {
  color: #4e8db6;
}

.dropdown.show .dropdown-toggle {
  color: #4e8db6;
}

.dropdown.show .dropdown-toggle:before {
  cursor: pointer;
  content: "\f106";
}

.dropdown.show .dropdown-menu {
  visibility: visible;
  opacity: 1;
  -moz-transition: transform 0.15s cubic-bezier(0.3, 0, 0, 1.5);
  -o-transition: transform 0.15s cubic-bezier(0.3, 0, 0, 1.5);
  -webkit-transition: transform 0.15s cubic-bezier(0.3, 0, 0, 1.5);
  transition: transform 0.15s cubic-bezier(0.3, 0, 0, 1.5);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

.dropdown .drop-list li a {
  display: block;
  padding: 8px;
  border-left: 2px solid transparent;
  white-space: normal;
  color: #333e48;
}

.dropdown .drop-list li a:hover,
.dropdown .drop-list li a:active {
  background: #dde1e9;
  color: #333e48;
  border-color: #4c9688;
}

.dropdown .drop-list li.active a {
  background: #dde1e9;
  color: #333e48;
  border-color: #4c9688;
}

.dropdown-menu {
  display: block;
  left: auto;
  right: 0;
  visibility: hidden;
  opacity: 0;
  padding: 0;
  overflow: auto;
  text-transform: capitalize;
  background: #f3f3f5;
  min-width: 200px;
  max-height: 210px;
  border: 0;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  -moz-transition: transform 0.15s cubic-bezier(0.3, 0, 0, 1.5);
  -o-transition: transform 0.15s cubic-bezier(0.3, 0, 0, 1.5);
  -webkit-transition: transform 0.15s cubic-bezier(0.3, 0, 0, 1.5);
  transition: transform 0.15s cubic-bezier(0.3, 0, 0, 1.5);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

.icons-list {
  letter-spacing: -6px;
  margin: 0 -3px;
}

.icons-list li {
  vertical-align: top;
  letter-spacing: 0;
  padding: 0 3px;
}

.icons-list li.list-inline-item:not(:last-child) {
  margin: 0;
}

.icons-list li .btn {
  white-space: nowrap;
  text-align: center;
  padding: 3px;
  font-size: 20px;
  line-height: 1;
  width: 30px;
  height: 30px;
  text-align: center;
  color: rgba(111, 111, 111, 0.75);
}

.icons-list li .btn:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 0;
  min-height: 100%;
}

.icons-list li .btn > * {
  white-space: normal;
  display: inline-block;
  vertical-align: middle;
  max-width: 99%;
}

.icons-list li .btn > * {
  margin: 0 0 0 -4px;
}

.icons-list li .btn:hover {
  background: #f3f3f5;
  color: #333e48;
}

.icons-list li .btn.btn-fav:hover {
  color: #c13c3a;
}

.tags-list {
  letter-spacing: -6px;
  margin: 0 -3px;
  text-align: right;
  text-transform: capitalize;
}

.tags-list li {
  vertical-align: top;
  letter-spacing: 0;
  padding: 0 3px;
}

.tags-list li.list-inline-item:not(:last-child) {
  margin: 0;
}

.tags-list li .btn {
  padding: 5px;
  min-width: 30px;
  text-align: center;
  background: #f3f3f5;
  color: #333e48;
}

.tags-list li .btn:hover {
  background: #f3f3f5;
  color: #4e8db6;
}

.tags-list li.tooltip-holder .btn {
  background: none;
}

.tags-list li.tooltip-holder .btn .fa {
  margin-top: 2px;
}

@media (max-width: 767px) {
  #sidebar {
    display: none;
  }
}

@media (min-width: 768px) {
  #sidebar {
    float: right;
    width: 200px;
    text-transform: capitalize;
  }
  #sidebar h6 {
    margin: 0 5px 10px;
  }
  #sidebar ul {
    margin: 0;
  }
  #sidebar ul li a {
    display: block;
    color: #333e48;
    padding: 7px;
    overflow: hidden;
    border-left: 2px solid transparent;
  }
  #sidebar ul li a:hover {
    background: #ebebee;
    border-color: #4c9688;
  }
  #sidebar ul li.active a {
    background: #ebebee;
    border-color: #4c9688;
  }
  #sidebar ul li.add {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px 0;
    margin: 5px 0;
  }
  #sidebar ul li.add a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #sidebar ul li .points {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    font-size: 12px;
    padding: 5px;
    float: right;
  }
  #sidebar ul li .challenge-tag {
    display: block;
    overflow: hidden;
    padding: 2px 2px 1px 0;
  }
  #sidebar.fixed-position + #content {
    padding-right: 220px;
  }
}

@media (min-width: 768px) and (min-width: 992px) {
  #sidebar.fixed-position + #content {
    padding-right: 240px;
  }
}

#content {
  overflow: hidden;
}

@media (min-width: 768px) {
  #content {
    font-size: 1rem;
    padding-right: 20px;
  }
}

@media (min-width: 992px) {
  #content {
    padding-right: 40px;
  }
}

#content img {
  width: 100%;
}

#content .section {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  overflow: hidden;
  padding: 10px 0;
  margin: 0 0 20px;
}

#content .section .card {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

#content .section h1 .badge {
  font-size: 50%;
  vertical-align: middle;
  font-family: "MuseoSans-300", sans-serif;
}

.course-detail {
  margin-bottom: 20px;
}

.course-detail .btn-holder {
  overflow: hidden;
  padding: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

@media (min-width: 992px) {
  .course-detail .btn-holder {
    padding: 15px 20px;
  }
}

.questions-list {
  counter-reset: newCounter;
}

.questions-list > li .question {
  display: block;
  padding: 10px;
  background: #f3f3f5;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media (min-width: 992px) {
  .questions-list > li .question {
    padding: 20px;
  }
}

.questions-list > li .question:before {
  float: left;
  width: 26px;
  text-align: center;
  font-family: "MuseoSans-700", sans-serif;
  margin: 0 10px 0 0;
  counter-increment: newCounter;
  content: "Q" counters(newCounter, ".") ".";
}

@media (min-width: 992px) {
  .questions-list > li .question:before {
    margin: 0 20px 0 0;
  }
}

.questions-list > li + li .question {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.questions-list > li .text {
  display: block;
  overflow: hidden;
}

.questions-list > li > ol {
  counter-reset: labelCounter;
}

.questions-list > li > ol li label {
  display: block;
  margin: 0;
}

.questions-list > li > ol li label .text-holder {
  display: block;
  cursor: pointer;
  padding: 10px;
  border: 1px solid transparent;
}

@media (min-width: 992px) {
  .questions-list > li > ol li label .text-holder {
    padding: 20px;
  }
}

.questions-list > li > ol li label .text-holder:before {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  float: left;
  line-height: 20px;
  width: 22px;
  height: 22px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: white;
  font-family: "MuseoSans-700", sans-serif;
  margin: -2px 10px 0 0;
  content: counter(labelCounter, upper-latin);
  counter-increment: labelCounter;
}

@media (min-width: 768px) {
  .questions-list > li > ol li label .text-holder:before {
    line-height: 26px;
    width: 26px;
    height: 26px;
  }
}

@media (min-width: 992px) {
  .questions-list > li > ol li label .text-holder:before {
    margin: 0 20px 0 0;
  }
}

.questions-list > li > ol li label .text-holder:hover {
  background: #f3f3f5;
  border-top-color: rgba(0, 0, 0, 0.2);
  border-bottom-color: rgba(0, 0, 0, 0.2);
}

.questions-list > li > ol li label input[type="radio"] {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0;
}

.questions-list > li > ol li label [type="radio"]:checked ~ .text-holder {
  border-color: #4c9688;
  background: #ecf5f3;
}

.questions-list > li > ol li label [type="radio"]:checked ~ .text-holder:before {
  font: 14px/20px FontAwesome;
  content: "\f00c";
  color: #4c9688;
  border-color: #4c9688;
  padding: 0;
}

@media (min-width: 768px) {
  .questions-list > li > ol li label [type="radio"]:checked ~ .text-holder:before {
    line-height: 26px;
  }
}

.audio-slides {
  width: 100%;
  height: auto;
}

.audio-slides .audio-slideshow {
  width: 300px;
  height: 180px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .audio-slides .audio-slideshow {
    width: 100%;
    height: 300px;
  }
}

@media (min-width: 768px) {
  .audio-slides .audio-slideshow {
    height: 280px;
  }
}

@media (min-width: 992px) {
  .audio-slides .audio-slideshow {
    height: 400px;
  }
}

@media (min-width: 1200px) {
  .audio-slides .audio-slideshow {
    height: 500px;
  }
}

.audio-slides .audio-slideshow .audio-control-interface {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.audio-slides .audio-slideshow .play-pause-container.add {
  bottom: 0;
  left: 0;
  background: black;
  width: 20px;
  height: 24px;
  text-align: center;
}

.audio-slides .audio-slideshow .play-pause-container.add a {
  white-space: nowrap;
  text-align: center;
  position: static;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 12px;
  line-height: 1;
  margin: 0 auto;
  color: white;
  white-space: nowrap;
  text-align: center;
  background-image: none !important;
  text-indent: 0 !important;
}

.audio-slides .audio-slideshow .play-pause-container.add a:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 0;
  min-height: 100%;
}

.audio-slides .audio-slideshow .play-pause-container.add a > * {
  white-space: normal;
  display: inline-block;
  vertical-align: middle;
  max-width: 99%;
}

.audio-slides .audio-slideshow .timeline-holder {
  position: absolute;
  left: 20px;
  right: 62px;
  bottom: 0;
}

.audio-slides .audio-slideshow .timeline-holder .marker {
  display: none;
}

.audio-slides .audio-slideshow .timeline-holder .timeline {
  height: 24px;
  background: black;
  box-shadow: none;
}

.audio-slides .audio-slideshow .timeline-holder .timeline .playhead {
  -moz-transition: width 0.5s ease;
  -o-transition: width 0.5s ease;
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
  background: #4e8db6;
}

.audio-slides .audio-slideshow .timeline-holder .controls {
  border: 0;
  height: 100%;
  padding: 0;
}

.audio-slides .audio-slideshow .timeline-holder .progress-holder {
  min-height: 24px;
  padding: 10px 4px 7px;
}

.audio-slides .audio-slideshow .timeline-holder .progress-holder .progress {
  position: relative;
  cursor: pointer;
  height: 6px;
}

.audio-slides .audio-slideshow .time-container {
  bottom: 0;
  right: 0 !important;
  background: black;
  color: white;
  padding: 6px 4px;
  font-size: 11px;
  line-height: 14px;
  height: 24px;
  z-index: 9;
  min-width: 62px;
}

.video-block {
  height: 100%;
  width: 100%;
  position: relative;
}

.video-block .video,
.video-block .video-outer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100% !important;
  height: 100% !important;
}

.video-block .video .btn-play,
.video-block .video-outer .btn-play {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  white-space: nowrap;
  text-align: center;
  background-image: none !important;
  text-indent: 0 !important;
  background: rgba(243, 243, 245, 0.8) !important;
  border-color: rgba(243, 243, 245, 0.8);
  position: absolute;
  width: 50px;
  height: 50px;
  color: #4E8BB4;
  font-size: 20px;
  line-height: 1;
  left: 50%;
  top: 50%;
  margin: -25px 0 0 -25px;
  visibility: hidden;
  opacity: 0;
}

.video-block .video .btn-play:before,
.video-block .video-outer .btn-play:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 0;
  min-height: 100%;
}

.video-block .video .btn-play > *,
.video-block .video-outer .btn-play > * {
  white-space: normal;
  display: inline-block;
  vertical-align: middle;
  max-width: 99%;
}

.video-block .video .btn-play > *,
.video-block .video-outer .btn-play > * {
  margin-left: -4px;
}

.video-block .video .btn-play:hover,
.video-block .video-outer .btn-play:hover {
  color: #4E8BB4;
  background: #f3f3f5 !important;
  border-color: #f3f3f5;
}

.video-block .video:hover .btn-play,
.video-block .video-outer:hover .btn-play {
  background-image: none !important;
  text-indent: 0 !important;
  visibility: visible;
  opacity: 1;
}

.video-block .controls {
  height: 30px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  border-style: solid;
  border-width: 1px 0;
  border-color: #dde2ea;
  padding: 0 10px;
}

.video-block .controls .left-control {
  float: left;
  position: relative;
  z-index: 1;
  padding: 5px 10px;
}

.video-block .controls .left-control .icon {
  white-space: normal;
  letter-spacing: 0;
  display: inline-block;
  vertical-align: top;
}

.video-block .controls .left-control .icon.icon-pause {
  display: none;
}

.video-block .controls .right-control {
  float: right;
  padding: 5px 5px;
  position: relative;
  z-index: 1;
}

.video-block .controls .right-control .icon {
  white-space: normal;
  letter-spacing: 0;
  display: inline-block;
  vertical-align: top;
  margin: 0 5px;
}

.video-block .controls .right-control .time {
  white-space: normal;
  letter-spacing: 0;
  display: inline-block;
  vertical-align: top;
  margin: 0 5px;
}

.video-block .controls .progress-holder {
  padding: 12px 0;
}

.video-block .controls .progress-holder .progress-info {
  font-size: 0;
  line-height: 0;
  margin-top: -12px;
  width: 20px;
  height: 20px;
  opacity: 1;
  left: 53%;
}

.video-block.play .controls .left-control .icon.icon-play {
  display: none;
}

.video-block.play .controls .left-control .icon.icon-pause {
  white-space: normal;
  letter-spacing: 0;
  display: inline-block;
  vertical-align: top;
}

.hidden {
  display: none !important;
}
