<div class="row">
  <div class="col-sm-12 custom-form">
    <h3 [innerHTML]="content.name | safeHtml"></h3>
    <ul class="list-inline rad-list">
        <li class="list-inline-item" *ngFor="let n of question['choices'] let i = index">
            <label [attr.for]="'r'+i" >
              <input type="radio" 
              (change)="onOptionChanged('value',i)"  [attr.id]="'r'+i"  name="group1"  [checked]="isChecked == i" value="on" >
              <span class="fake-input"></span>
              <span class="fake-label">{{n.answer}}</span>
            </label>
          </li>
    </ul>
  </div>
</div>