<div class="row">
  <div class="col-sm-12 custom-form">
    <h3 [innerHTML]="question.question | safeHtml"></h3>
    <ul class="list-unstyled rad-list">
        <li class="list-inline-item" *ngFor="let n of question['choices'] let i = index">
            <label for={{i}}>
              <input type="radio" 
              (change)="onOptionChanged(n.answer,i)"  id={{i}} name={{question.id}}  [checked]="isChecked == i" value="on" >
              <span class="fake-input"></span>
              <span class="fake-label">{{n.answer}}</span>
            </label>
          </li>
    </ul>
  </div>
</div>