#header{
	overflow: hidden;
	background: white;
	padding: 10px 0;
	margin-bottom: 20px;
	-webkit-box-shadow: 0 2px 2px 0 rgba(black,0.1);
	box-shadow: 0 2px 2px 0 rgba(black,0.1);
}

.logo{
	width: 80px;
	float: left;
}