#main{
	padding-top: 20px;
	position: relative;
	
	h1,
	h2{
		@include media('<small-tablet') {font-size: 1.3rem;}

		font-size: 1.5rem;
	}
	h3,
	h4{
		@include media('<small-tablet') {font-size: 1.1rem;}

		font-size: 1.25rem;
	}
	h5{
		@include media('<small-tablet') {font-size: 1rem;}

		font-size: 1.1rem;
	}
}

.page-header{
	overflow: hidden;
	margin: -20px 0 20px;
	background: $blue;
	padding: 20px 0;
	border-top: 1px solid rgba(black,0.1);
	-webkit-box-shadow: 0 2px 2px 0 rgba(black,0.1);
	box-shadow: 0 2px 2px 0 rgba(black,0.1);
	z-index: 9999;
	color: white;
	
	@include media('<tablet') {position: static !important;}
	
	&.fixed-position{
		left: 0;
		right: 0;
		
		@include media('≥tablet') {
			position: fixed !important;
			top: 0 !important;
			left: 0 !important;
			margin-top: 0;
		}
		
		+ .detail-container{
			
			@include media('<tablet') {padding-top: 0 !important;}
			
			#content{
				@include media('≥tablet') {padding-right: 220px;}

				@include media('≥desktop') {padding-right: 240px;}
			}

			#sidebar{
				position: absolute;
				right: 15px;
			}
		}
	}
	
	.btn-back{
		@include v-align(top);
		font-family: "MuseoSans-700", sans-serif;
		margin: 0 10px 5px;
		color: white;
		
		&:hover{color: darken($gray-lightest2,10%);}
		
		.fa{
			font-size: 1rem;
			vertical-align: text-bottom;
		}
	}
	
	.img-holder{
		@include border-radius(100%);
		border: 1px solid white;
		display: block;
		margin: 0 auto 10px;
		width: 100px;
		background: white;
		
		@include media('≥small-tablet') {
			float: left;
			margin: 0 20px 0 0;
		}
		
		img{
			@include border-radius(100%);
			width: 100%;
		}
	}
	
	.header-text{
		overflow: hidden;
		
		.sub-head{
			display: block;
			color: white;
		}
		
		h1{
			@extend %ellipsis;
			margin: 2px 0;
		}
		
		.description{
			@extend %ellipsis;
			display: block;
		}
		
		.holder{
			overflow: hidden;
			margin: 0 0 5px;
		}
	}
	
	.footer{
		overflow: hidden;
		.holder{margin: 0;}
		
		time{
			display: block;
			padding: 0 0 5px;
			color: white;
			font-family: $headings-font-family;
			
			span{font-family: $font-family-sans-serif;}
			
			@include media('≥tablet') {
				float: left;
				padding: 6px 0;
			}
		}
		
		.icons-list{
			float: left;
			margin: 0 5px 0 0;
			
			@include media('≥tablet') {
				float: right;
				margin: 0 0 0 20px;
			}
			
			li{
				padding-bottom: 3px;
				
				.btn{
					background: white;
					
//					@include media('≥small-tablet') {
//						width: 36px;
//						height: 36px;
//						font-size: 22px;
//					}
					
				}
			}
		}
		.tags-list{
			overflow: hidden;
			
			@include media('<tablet') {text-align: left;}
			
			li{
				padding-bottom: 3px;
				
				.btn{
					background: white;
//					@include media('≥small-tablet') {
//						padding: 7px;
//						font-size: 1rem;
//						min-width: 50px;
//					}
				}
			}
		}
	}
}

video,
audio{
	display: block;
	width: 100%;
	height: auto;
}

.full-auto{
	display: block;
	width: 100%;
	height: 500px;
	overflow: auto;
}