<div class="row">
  <div class="col-sm-12">
    <h3>Multiple Fill in the Blank</h3>
    <table class="table fill-in-table no-border">
      <thead>
          <tr *ngFor="let h of head let i = index" >
              <th >
                <div class="cell-holder">
                  <div class="cell" style="width: 50%;">Dr</div>
                  <div class="cell" style="width: 50%;">Cr</div>
                </div>
              </th>
            </tr>
      </thead>
      <tbody>
          <tr *ngFor="let row of tail let i = index" class=" row-width">
              <td >
                <div class="cell-holder row-width">
                  <div *ngFor="let col of row.columns let j = index" class="cell" style="width: 50%;">
                    <div class="input-holder input-active" *ngIf="col.type == 'ANSWER'">
                      <input  (input)="onChangeOption(i , j, $event.target.value);" type="text" placeholder="Enter Answer" class="form-control">
                    </div>
                    <div class="input-holder" *ngIf="col.type == 'TEXT'">
                      <span class="answer-text">{{col.value}}</span>
                    </div>
                  </div>
                </div>
              </td>
            </tr>

      </tbody>
    </table>
  </div>
</div>
