<div class="row">
  <div class="col-sm-12">
    <h3>Correct sequence</h3>
    <table class="table no-border sequence-table">
      <thead>
        <tr>
          <th>Answer in Correct Sequence</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="input-holder add">
              <input type="text" value="Contuct a test Assessment" class="form-control"> </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="input-holder add">
              <input type="text" value="Contuct a test Assessment" class="form-control"> </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="input-holder add">
              <input type="text" value="Contuct a test Assessment" class="form-control"> </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="input-holder add">
              <input type="text" value="Contuct a test Assessment" class="form-control"> </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="input-holder add">
              <input type="text" value="Contuct a test Assessment" class="form-control"> </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="input-holder add">
              <input type="text" value="Contuct a test Assessment" class="form-control"> </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>