<div attr.id="{{'tab'+index}}" class="section" > 
<div class="row">
    <div class="col-sm-12">
      <h3 [innerHTML]="content.name | safeHtml"></h3>
      <p><strong>{{question.question}}</strong></p>
      <table class="table no-border sequence-table">
        <thead>
        </thead>
        <tbody>
            <tr dropDirective [dragDirective]='c' (dragoverMouseEvent)="dragoverMouse($event)" (dropEvent)="addDropItem($event,i)" (releaseDrop)="releaseDrop($event, i)" *ngFor="let c of choices let i = index" (startDrag)="startDrag(c)" >
                <td draggable="true">
                  <div class="input-holder add">
                    <span class="answer-text">{{c.answer}}</span>
                  </div>
                </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>