<div id="page" class="page">
    <!-- navbar -->
    <nav class="navbar navbar-toggleable-sm navbar-light fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#"><img class="img-fluid" src="assets/images/cinch-logo.png" alt="cinch" /></a>
    
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav nav">
            <li>
                <a href="#problem">
                    <span class="bg-yellow">
                        <img src="assets/images/problem-icon.svg" width="55" />
                    </span>PROBLEM
                </a>
            </li>
            <li>
                <a href="#solution">
                    <span class="bg-orange">
                        <img src="assets/images/solution-icon.svg" width="42" />
                    </span>SOLUTION
                </a>
            </li>
            <li class="dropdown">
                <a href="#features" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="bg-green">
                        <img src="assets/images/features-icon.svg" width="40" />
                    </span>FEATURES
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#features">Content</a>
                    </li>
                    <li>
                        <a href="#administration">Administration</a>
                    </li>
                    <li>
                        <a href="#integration">Integration</a>
                    </li>
                    <li>
                        <a href="#exams">Exams</a>
                    </li>
                    <li>
                        <a href="#dashboards">Dashboards</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#clients">
                    <span class="bg-red">
                        <img src="assets/images/clients.svg" width="40" />
                    </span> CLIENTS
                </a>
            </li>

            <li>
                <a href="http://blog.cinchhub.com">
                    <span class="bg-gray">
                        <img src="assets/images/features-icon.svg" width="40" />
                    </span> BLOG
                </a>
            </li>

            <li>
                <a href="#contactus">
                    <span class="bg-blue-light">
                        <img src="assets/images/contactus-icon.svg" width="47" />
                    </span>CONTACT
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="bg-blue-light">
                        <img src="assets/images/book.svg" width="47" />
                    </span>COURESES
                </a>
            </li>
        </ul>
    </div>
    </nav>

    <nav class="navbar navbar-default navbar-fixed-top hidden">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#hero-section">
                    <img class="img-fluid" src="assets/images/cinch-logo.png" alt="cinch" />
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#problem">
                            <span class="bg-yellow">
                                <img src="assets/images/problem-icon.svg" width="55" />
                            </span>PROBLEM
                        </a>
                    </li>
                    <li>
                        <a href="#solution">
                            <span class="bg-orange">
                                <img src="assets/images/solution-icon.svg" width="42" />
                            </span>SOLUTION
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#features" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="bg-green">
                                <img src="assets/images/features-icon.svg" width="40" />
                            </span>FEATURES
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#features">Content</a>
                            </li>
                            <li>
                                <a href="#administration">Administration</a>
                            </li>
                            <li>
                                <a href="#integration">Integration</a>
                            </li>
                            <li>
                                <a href="#exams">Exams</a>
                            </li>
                            <li>
                                <a href="#dashboards">Dashboards</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#clients">
                            <span class="bg-red">
                                <img src="assets/images/clients.svg" width="40" />
                            </span> CLIENTS
                        </a>
                    </li>

                    <li>
                        <a href="http://blog.cinchhub.com">
                            <span class="bg-gray">
                                <img src="assets/images/features-icon.svg" width="40" />
                            </span> BLOG
                        </a>
                    </li>

                    <li>
                        <a href="#contactus">
                            <span class="bg-blue-light">
                                <img src="assets/images/contactus-icon.svg" width="47" />
                            </span>CONTACT
                        </a>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <section id="hero-section">
        <div class="main-container">
            <section class="cover fullscreen image-slider slider-all-controls controls-inside parallax">
                <ul class="slides">
                    <li>
                        <div class="background-image-holder">
                            <img alt="image" class="background-image" src="assets/images/1.jpg" />
                            <div class="slider-content">
                                <h1 class="hero-title">A Revolutionary
                                    <br>Training Management
                                    <br>Platform</h1>
                                <h2 class="hero-text">Unify best-in-class training tools into
                                    <br class="hidden-xs" /> one connected platform.</h2>
                                <div class='row'>
                                    <div class='col-sm-6'>
                                        <a data-toggle="modal" data-target="#contact-form" class="btn btn-get-going">Contact us for a demo</a>
                                    </div>
                                    <div class="col-sm-6">
                                        <a data-toggle="modal" data-target="#video-modal" class="btn btn-get-going btn-video">Watch 2 minute video</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="background-image-holder">
                            <img alt="image" class="background-image" src="assets/images/2.jpg" />
                            <div class="slider-content">
                                <h1 class="hero-title">A Revolutionary
                                    <br>Training Management
                                    <br>Platform</h1>
                                <h2 class="hero-text">Unify best-in-class training tools into
                                    <br class="hidden-xs" /> one connected platform.</h2>
                                <div class='row'>
                                    <div class='col-sm-6'>
                                        <a data-toggle="modal" data-target="#contact-form" class="btn btn-get-going">Contact us for a demo</a>
                                    </div>
                                    <div class="col-sm-6">
                                        <a data-toggle="modal" data-target="#video-modal" class="btn btn-get-going btn-video">Watch 2 minute video</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="background-image-holder">
                            <img alt="image" class="background-image" src="assets/images/3.jpg" />
                            <div class="slider-content">
                                <h1 class="hero-title">A Revolutionary
                                    <br>Training Management
                                    <br>Platform</h1>
                                <h2 class="hero-text">Unify best-in-class training tools into
                                    <br class="hidden-xs" /> one connected platform.</h2>
                                <div class='row'>
                                    <div class='col-sm-6'>
                                        <a data-toggle="modal" data-target="#contact-form" class="btn btn-get-going">Contact us for a demo</a>
                                    </div>
                                    <div class="col-sm-6">
                                        <a data-toggle="modal" data-target="#video-modal" class="btn btn-get-going btn-video">Watch 2 minute video</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="background-image-holder">
                            <img alt="image" class="background-image" src="assets/images/4.jpg" />
                            <div class="slider-content">
                                <h1 class="hero-title">A Revolutionary
                                    <br>Training Management
                                    <br>Platform</h1>
                                <h2 class="hero-text">Unify best-in-class training tools into
                                    <br class="hidden-xs" /> one connected platform.</h2>
                                <div class='row'>
                                    <div class='col-sm-6'>
                                        <a data-toggle="modal" data-target="#contact-form" class="btn btn-get-going">Contact us for a demo</a>
                                    </div>
                                    <div class="col-sm-6">
                                        <a data-toggle="modal" data-target="#video-modal" class="btn btn-get-going btn-video">Watch 2 minute video</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
            </section>
        </div>

    </section>



    <section id="future-learning-section" class="info-section parallax-window" data-parallax="scroll" data-image-src="">
        <div class="container content-wrapper">
            <h1 class="section-title">The Future of
                <br class="hidden-xs" /> Learning Technology is Here</h1>
            <p class="mb40">
                Gone are the days of cobbling event management tools together with a clunky learning management system that has a poor user
                experience. Cinch is a Learning Content Management System (LCMS) that goes beyond content authoring. Cinch
                enables your organization to utilize and integrate with best-in-class tools for online training, webinars,
                and live classroom training, in one beautiful experience.
            </p>
            <ul class="list-circled orange auto-max-width">
                <li>Does your organization need to use best-in-tools such as GoToWebinar, EventBrite, and ConstantContact while
                    integrating with the rest of your learning program that sits inside an LMS? Cinch can do that!</li>
                <li>Does your organization require efficient content authoring and workflows? Cinch can do that!</li>
                <li>Does your organization need to centralize your training content? Cinch is LCMS that can do that!</li>
            </ul>
            <a data-toggle="modal" data-target="#video-modal" class="btn btn-contactus btn-video">Watch 2 minute video</a>
        </div>
    </section>


    <section id="problem" class="info-section bg-yellow">
        <div class="container content-wrapper">
            <h1 class="section-title">Problem</h1>
            <h2 class="section-subtitle">Businesses are not satisfied with
                <br class="hidden-xs" /> current learning technology.</h2>
            <p class="mb40">
                Current learning management systems are not capable of meeting the demands of enterprise organizations that need integrated
                experiences. Learning data needs to be shared with third-party tools, internal data stores, and customers.
                A single monolithic LMS is outdated and is holding organizations back.
            </p>
            <div class="row problem-blocks">
                <div class="col-sm-4">
                    <div class="icon-holder">
                        <div id="learning-budget"></div>
                        <!--<img src="assets/images/learning-budget.svg" alt="learning budget" width="125" />-->
                        <h1> 71%</h1>
                    </div>
                    <span>of the learning technology budget is comprised of LMS </span>
                </div>
                <div class="col-sm-4">
                    <div class="icon-holder">
                        <div id="classroom"></div>
                        <!--<img src="assets/images/classroom.svg" alt="classroom" width="93" />-->
                        <h1> 69%</h1>
                    </div>
                    <span>of users are satisfied with in-person classroom scheduling</span>
                </div>
                <div class="col-sm-4">
                    <div class="icon-holder">
                        <div id="virtual-classroom"></div>
                        <!--                        <img src="assets/images/virtual-classroom.svg" alt="virtual classroom" width="146" />-->
                        <h1>63%</h1>
                    </div>
                    <span>of users are satisfied with virtual classroom management</span>
                </div>
            </div>
            <div class="source-text">Source: 2016 Brandon Hall Learning Technology Study</div>
        </div>
    </section>


    <section id="solution" class="info-section">
        <div class="container content-wrapper">
            <h1 class="section-title">Solution</h1>
            <p class="mb40">
                Cinch is a training management platform plus LCMS that enables you to create learning opportunities like never before. It
                is built with a scalable architecture ready for your organization's evolving needs.
            </p>
        </div>
        <div class="container">
            <div class="text-center mb40">
                <img src="assets/images/solution.png" alt="solution image" />
            </div>
            <h2 class="text-center">Cinch makes connecting training data a cinch</h2>
            <div class="solution-table">
                <div class="table-row head">
                    <div class="table-col">Typical Learning Management System</div>
                    <div class="table-col">Cinch Training Management Platform Plus LCMS</div>
                </div>
                <div class="table-row">
                    <div class="table-col">Feature set limited by the application. Challenging to predict future needs.</div>
                    <div class="table-col">Built with scalable architecture to handle future needs.</div>
                </div>
                <div class="table-row">
                    <div class="table-col">Integrating other tools is challenging, costly, and not always possible.</div>
                    <div class="table-col">Can incorporate best of breed third-party technology into the platform.</div>
                </div>
                <div class="table-row">
                    <div class="table-col">
                        Limited customization customization.
                    </div>
                    <div class="table-col">
                        Integrate new training platforms as your enterprise needs grow.
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-col">
                        Most LMS utilize outdated standards
                        <br/>(i.e. SCORM)
                    </div>
                    <div class="table-col">
                        Combine SCORM and new standards such as Agile SCORM and xAPI as you see fit.
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="features" class="info-section bg-green">
        <div class="container-fluid">
            <h1 class="section-title">Features</h1>
            <h1 class="section-subtitle">Streamlined Learning Content Management</h1>
            <div class="row">
                <div class="col-sm-8">
                    <img class="img-fluid" src="assets/images/streamlined-content-authoring.png" alt="image" />
                </div>
                <div class="col-sm-4">
                    <ul class="list-circled white p0">
                        <li>
                            <strong>Simple and efficient content authoring:</strong> Swiftly create and manage content using structured
                            forms, multiple question type templates, drag and drop question management, etc.</li>
                        <li>
                            <strong>Question Bank:</strong> Put your questions into a centralized question bank allowing you to seamlessly
                            add questions into multiple exams.</li>
                        <li>
                            <strong>Real-time content updates:</strong> Update content as you need to. You no longer have to bundle content
                            updates with technical deployments fraught with risks.</li>
                        <li>
                            <strong>Pull exam content via api:</strong> Skip the hassle of locating, finding and retrieving your exam
                            data--Cinch will pull it in automatically.</li>
                        <li>
                            <strong>Use your own designs:</strong> Design for your end-user experience by using our API’s to enable your
                            templates. (Supports your custom templates.)</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    <section id="administration" class="info-section">
        <div class="container-fluid">
            <h1 class="section-subtitle">Streamlined Training Administration</h1>
            <div class="row">
                <div class="col-sm-4">
                    <p>
                        <strong></strong>
                    </p>
                    <ul class="list-circled green  p0 pull-right">
                        <li>
                            <strong>Simplify the Admin Experience:</strong> Cinch gives you a single interface to manage multiple apps.
                            Increase in-house expertise and ownership by reducing complexity of dealing with too many systems.</li>
                        <li>
                            <strong>Increased efficiency:</strong> Increase in-house expertise and ownership by reducing complexity of
                            dealing with too many systems.</li>
                        <li>
                            <strong>Single System Simplicity:</strong> Use only one system and data is propagated to various systems
                            behind the scenes.</li>
                        <li>
                            <strong>Power up with Calendaring:</strong> Cinch allows you to set up, plan and track events via a single
                            calendar integrated with GoToWebinar.</li>
                    </ul>
                </div>
                <div class="col-sm-8">
                    <img class="img-fluid" src="assets/images/screenshot-flat.png" alt="image" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-8"></div>
            </div>

        </div>
    </section>


    <section id="integration" class="info-section bg-green">
        <div class="container-fluid">
            <h1 class="section-subtitle">Streamlined Integration</h1>

            <div class="row">
                <div class="col-sm-8">
                    <img class="img-fluid" src="assets/images/education.png" alt="image" />
                </div>
                <div class="col-sm-4">
                    <ul class="list-circled white p0">
                        <li>
                            <strong>Utilize best-in-class 3rd party tools:</strong> Maximize your user experience by connecting your
                            training to the best tools out there for webinars, live training, virtual conferences, and more.</li>
                        <li>
                            <strong>Simplify Administration:</strong> Administer all training from a single easy to use interface.</li>
                        <li>
                            <strong>Improved Analytics:</strong> Keep track of analytics using our state of the art learning analytics
                            platform.</li>
                        <li>
                            <strong>Work with any LMS:</strong> Work with the LMS that you’ve invested in but with Cinch, it will be
                            a world-class experience.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="exams" class="info-section">
        <div class="container-fluid">
            <h1 class="section-subtitle">Exams</h1>
            <div class="row">
                <div class="col-sm-4">

                    <ul class="list-circled green  p0 pull-right">
                        <li>
                            <strong>Preview Exams:</strong> Preview the exam as the end-users will see it straight from the exam.</li>
                        <li>
                            <strong>Scoring &amp; Passing:</strong> Set scoring and percentage pass rates as needed for exams.</li>
                        <li>
                            <strong>Answer Keys:</strong> Quickly and easily generate answer keys for your exams.</li>
                        <li>
                            <strong>Prebuilt or Custom Exam Templates:</strong> Quickly publish exams using prebuilt templates. Or customize
                            your existing templates to work with Cinch.</li>
                        <li>
                            <strong>Multiple Question Types:</strong> Create exams with diverse sets of questions allowing you to hit
                            the right tone and rigor with your end-users.</li>
                    </ul>
                </div>
                <div class="col-sm-8">
                    <img class="img-fluid" src="assets/images/exam.png" alt="image" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-8"></div>
            </div>
        </div>
    </section>


    <section id="dashboards" class="info-section bg-green">
        <div class="container-fluid">
            <h1 class="section-subtitle">Dashboards</h1>

            <div class="row">
                <div class="col-sm-8">
                    <img class="img-fluid" src="assets/images/dashboard.png" alt="image" />
                </div>
                <div class="col-sm-4">
                    <ul class="list-circled white p0">
                        <li>
                            <strong>All your data in one view:</strong> Quickly see the health of your training in one view even if the
                            data sits in multiple systems.</li>
                        <li>
                            <strong>Quickly produce reports using real-time data:</strong> Show stakeholders real-time progress of how
                            individual training are driving customer satisfaction.</li>
                        <li>
                            <strong>See exam completions in your dashboard:</strong> The power of integration with cinch helps you keep
                            an overview of your exams for better decision making.</li>
                        <li>
                            <strong>Actionable Net Promoter Score data:</strong> Cinch integrates directly with SurveyMonkey to display
                            your Net Promoter Scores in real-time allowing admins to see how useful each training is for users.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    <section id="clients" class="info-section bg-red">
        <div class="container content-wrapper">
            <h1 class="section-title">Clients</h1>
            <p>Switching to Cinch is, well a cinch. Cinch is built as a modular platform. You can pick and choose what modules
                you'd like to use. If you have an existing LMS, you can even continue using it, and we'll ensure that your
                learning data goes where it needs to go. Of course, we think you'll have the best results if you eventually
                utilize the entire CinchHub ecosystem.</p>
            <p>We know the e-learning space. Here are some of the awards we won and the clients we work with.</p>
            <div class="logos-container">
                <div class="logo-row">
                    <div class="logo-col">
                        <img class="img-fluid" src="assets/images/northwestern-uni-logo.png" alt="image" />
                    </div>
                    <div class="logo-col">
                        <img class="img-fluid" src="assets/images/broadcom-logo.png" alt="image" />
                    </div>
                    <div class="logo-col">
                        <img class="img-fluid" src="assets/images/intuit-logo.png" alt="image" />
                    </div>
                    <div class="logo-col">
                        <img class="img-fluid" src="assets/images/national-instruments-logo.png" alt="image" />
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="logos" class="info-section">
        <div class="container">
            <div class="row awards-row">
                <div class="col-sm-3 col-xs-6">
                    <img class="img-fluid" src="assets/images/award-gold.png" alt="image" />
                    <span>Best Advance in Learning Technology</span>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <img class="img-fluid" src="assets/images/award-silder.png" alt="image" />
                    <span>Best Certification Program</span>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <img class="img-fluid" src="assets/images/award-silder.png" alt="image" />
                    <span>Best Learning Business Strategy</span>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <img class="img-fluid" src="assets/images/awar-brownze.png" alt="image" />
                    <span>Best Advance in Extended Enterprise</span>
                </div>
            </div>

        </div>
    </section>


    <section id="contactus" class="info-section bg-blue-light">
        <div class="container content-wrapper">

            <h1 class="section-title">
                <strong>Contact us to see how Cinch can
                    <br> revolutionize your training experience.</strong>
            </h1>
            <a data-toggle="modal" data-target="#contact-form" class="btn btn-lg btn-contactus">Contact Us</a>

        </div>
    </section>
    <footer class="page-footer">&copy; Copyright 2016 Acumenity LLC</footer>


    <!-- Contact Form (popup) -->
    <div class="modal fade" id="contact-form" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h1 class="text-center">Contact us for a demo</h1>
                    <form action="contact.php" id="contactform">
                        <input type="text" name="name" placeholder="Name" required />
                        <input type="email" name="email" placeholder="Email" required />
                        <input type="tel" name="phone" placeholder="Phone" />
                        <input type="text" name="company" placeholder="Company" />
                        <input type="text" name="train" placeholder="How many users do you train annually?" />
                        <textarea name="msg" id="" cols="30" rows="4" placeholder="Please briefly describe your current training experience and what tools you are using."></textarea>
                        <button id="submit" class="btn btn-contact">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="video-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h1 class="text-center">See how Cinch can revolutionize your training</h1>
                    <div>
                        <video id="video" src="assets/images/videos/Cinch_v3.mp4" controls="true" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen
                            allowfullscreen></video>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>