<div attr.id="{{'tab'+index}}" class="section" > 
    <h1>{{content.name}}</h1>
    <div class="audio-slides">
        <div id="audioslideshow" class="audio-slideshow" attr.data-audio="{{audio}}" attr.data-audio-duration="{{duration}}">
            <div *ngFor="let img of image; let i = index"  class="audio-slides">
                <img [src]="img.image" alt="[Dalen, Telemarken (i.e, Telemark), Norway] (LOC)" 
                attr.data-thumbnail="http://www.makeathumbnail.com/thumbnails/image579144.jpg" 
                attr.data-slide-time="{{img.slidetime}}">
            </div>
            <div class="audio-control-interface video-block">
                <div class="play-pause-container video">
                    <a href="javascript:;" class="btn btn-action btn-play audio-play" tabindex="1">
                        <span class="fa fa-play"></span>
                    </a>
                    <a href="javascript:;" class="btn btn-action btn-play audio-pause" tabindex="1">
                        <span class="fa fa-pause"></span>
                    </a>
                </div>
                <div class="play-pause-container add">
                    <a href="javascript:;" class="btn btn-play audio-play" tabindex="1">
                        <span class="fa fa-play"></span>
                    </a>
                    <a href="javascript:;" class="btn btn-play audio-pause" tabindex="1">
                        <span class="fa fa-pause"></span>
                    </a>
                </div>
                <div class="time-container">
                    <span class="play-time"></span> / <span class="total-time"></span>
                </div>
                <div class="timeline-holder">
                	<div class="timeline">
						<div class="progress-holder">
							<div class="progress">
								<div class="timeline-controls"></div>
								<div class="playhead progress-bar"></div>
							</div>
						</div>
					</div>
                </div>
                <div class="volume hidden" title="Set volume">
                    <span class="fa fa-volume-down"></span>
                    <div class="volume-block">
                        <div class="progress-holder">
                            <input id="vol-control" class="volume-bar" type="range" value="100" oninput="SetVolume(this.value)" onchange="SetVolume(this.value)" min="0" max="100" step="1">
                        </div>
                    </div>
                    <span class="volumeBar"></span>
                </div>
                <div id="jplayer" class="jplayer"></div>
            </div>
        </div>
        <div class="dispose" style="display:hidden"><div></div>
    </div>
  </div>
  